@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero-section{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}

.hero-top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 9px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

a,
.left-side p{
    color: #E5E7EB;
    font-size: 18px;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
}

h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

a{
    text-decoration: none;
}

.hero-second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding: 50px 0;
}

img{
    display: flex;
    flex-shrink: 1;
}

button{
    background-color: yellow;
    padding: 10px 25px;
    border-radius: 10px;
    border: yellow solid 1px;
}

.first-main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-main-section-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px 0;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 150px;
}

img{
    border-radius: 10px;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-main-section{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.second-main-section p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

h3{
    color: #1F2937;
    padding-left: 70%;
    box-sizing: content-box;
}

.third-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    margin: 50px 150px;
    border-radius: 5px;
    background-color: yellow;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}
